---

---

<main class="bg-gradient-to-r from-purple-500 to-pink-500 h-dvh bg-fixed">
  <div class="text-7xl">
    <h1
      class="translate-x-0 font-bold leading-normal text-center mb-4 text-white"
    >
      Welcome to <span class="text-red-700">Astro</span>
    </h1>
  </div>
</main>
