---
import InputText from "../components/InputText.astro";
---

<main
  class="bg-gradient-to-r from-blue-600 to-blue-300 h-dvh bg-fixed flex justify-center items-center"
>
  <div
    class="bg-white w-[70rem] h-[32rem] p-10 rounded-lg shadow-lg flex justify-center items-center gap-5"
  >
    <img
      src="../../public/images/ODT_Logo.png"
      alt="ODT Logo"
      class="w-[30rem] h-[18rem]"
    />
    <div>
      <h2
        class="text-3xl font-bold text-center text-blue-600 mb-6"
        data-testid="title-login"
      >
        Welcome To ODDS| Conference
      </h2>
      <div class="mb-10">
        <InputText type="text" placeholder="Enter Username" />
        <InputText type="password" placeholder="Enter Password" />
      </div>
      <button
        class="w-full h-11 p-2 text-lg text-white bg-blue-600 rounded hover:bg-blue-700"
        id="login-button"
        data-testid="login-button">Login</button
      >
    </div>
  </div>
</main>

<script>
  const loginButton = document.getElementById("login-button");
  if (loginButton) {
    loginButton.addEventListener("click", function () {
      window.location.href = "/odds";
    });
  }
</script>
